.collect{
    .header {
        width: 100%;
        height: 200rpx;
        background: #f9f9f9;
        overflow: hidden;
    }
    .icong{
        width: 64rpx;
        height: 56rpx;
        margin-left: 50rpx;
        margin-top: 66rpx;
        float: left;
        image{
            width: 64rpx;
            height: 56rpx;
        }
    }
    .border-shu{
        float: left;
        margin-top: 76rpx;
        margin-left: 20rpx;
        margin-right: 20rpx;
        height: 58rpx;
        border-left: #666 solid 1rpx;
    }
    .header-test{
        float: left;
        overflow: hidden;
    }
    .words-a{
        font-size: 30rpx;
        font-weight:bold;
        margin-top: 60rpx;
        line-height: 1;
    }
    .words-b{
        font-size: 26rpx;
        line-height: 60rpx;
        color: #222;
    }


    .items{
        .item{
            width: 610rpx;
            height: 170rpx;
            margin:0 auto;
            margin:30rpx 30rpx 0 30rpx;
            background: #fff;
            border-radius: 10rpx;
            padding:40rpx;
            .item_title{
                height: 32rpx;
                line-height: 32rpx;
                .title_line{
                    float: left;
                    width: 12rpx;
                    height: 32rpx;
                    margin-right: 20rpx;
                    border-radius: 8rpx;
                    background: #d43c33;
                }
                .title_txt{
                    float: left;
                    font-size: 32rpx;
                    color: #d43c33;
                    font-weight: 600;
                }
            }
            .item_content{
                margin-top:46rpx;
                position: relative;
                .content_left{
                    position: absolute;
                    top:6rpx;
                    left: 0;
                    width: 80rpx;
                    height: 80rpx;
                    image{
                        width: 100%;
                        height: 100%;
                    }
                }
                .content_middle{
                    position: absolute;
                    top:18rpx;
                    left:120rpx;
                    width: 1rpx;
                    height: 56rpx;
                    background: #666;
                }
                .content_right{
                    position: absolute;
                    top:0;
                    left:161rpx;
                    .right_title{
                        display: inline-block;
                        height: 46rpx;
                        line-height: 46rpx;
                        padding:0 10rpx;
                        color:#fff;
                        text-align: center;
                        border-radius: 8rpx;
                        font-size: 26rpx;
                    }
                    .backcolor_yellow{
                        background: #face64;
                    }
                    .backcolor_blue{
                        background: #85afec;
                    }
                    .backcolor_green{
                        background: #70b8ac;
                    }
                    .backcolor_purple{
                        background: #a96dc9;
                    }
                    .right_des{
                        height: 26rpx;
                        line-height: 26rpx;
                        font-size: 26rpx;
                        margin-top:20rpx;
                        color:#222;
                    }
                }
            }
        }
    }

    .score {
        background: #fff;
        .score_contents{
            .score_content {
                width: 690rpx;
                margin: 0 30rpx;
                height: 112rpx;
                line-height: 112rpx;
                border-bottom: 1rpx solid #e0e0e0;
                .content_left {
                    display: inline-block;
                    width: 32rpx;
                    height: 32rpx;
                    margin-right: 20rpx;
                    image {
                        width:100%;
                        height:100%;
                        vertical-align: middle;
                    }
                }
                .content_middle {
                    display: inline-block;
                    font-size: 30rpx;
                    color: #222;
                }
                .content_right {
                    float: right;
                    font-size: 30rpx;
                    color: #d43c33;
                    image{
                        width:12rpx;
                        height: 22rpx;
                        margin-left: 15rpx;
                    }
                }
            }
            .score_content:last-child {
                border: 0;
            }
        }
    }
     
    
}