.collect{
    .collect_num{
        font-size: 24rpx;
        text-align: center;
        color:#999;
        margin-top:20rpx;
    }
    .collect_can{
        padding: 0 36rpx;
        padding-top:30rpx;
        .item{
            display: inline-block;
            width: 318rpx;
            width: 46rpx;
            height: 46rpx;
            margin-right: 6rpx;
            &:last-child{
                margin-right: 0;
            }
            .img{
                width: 46rpx;
                height: 46rpx;
            }
        }
    }
    .collect_btn{
      text-align: center;
      margin-top:20rpx;
      font-size: 24rpx;
      color:#999;
    }
}